<section class="deleteModal" id="modal">
    <div class="deleteCard" id="card">
        <div class="deleteHead">
            
            <h2 class="deleteAsk">Deseja realmente apagar esta tarefa? </h2>
            <a class="deleteClose" href="/"><i class="bi bi-x"></i></a>
        </div>
        
        <p class="deleteTask">'<%= task.task %>'</p>
        <div class="deleteBtns">
            <a class="btnCancelDelete" href="/">Cancelar</a>
            <a class="btnDelete" href="/deleteOne/<%= task._id %>">Confirmar</a>
        </div>
    </div>
</section>