<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Register-Login/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <title>To DoList</title>
</head>
<body>
    
    <h1>Registro</h1>

    <form action="/register" method="post">
        <input type="email" name="email" id="email">
        <input type="password" name="password" id="password">
        <button type="submit" id="addUser" name="btn">Registrar</button>
    </form>

    <h1>Login</h1>

    <form action="/authenticate" method="post">
        <input type="text" name="email" id="email">
        <input type="password" name="password" id="password">
        <button type="submit" id="authUser" name="btn">Entrar</button>
    </form>
    
    <script src="/Register-Login/script.js"></script>
</body>
</html>